.custom-pagination .ant-table-pagination.ant-pagination {
  display: flex;
  justify-content: center;
}

.custom-pagination .ant-pagination-total-text {
  margin-right: auto;
}

.custom-pagination .ant-table-pagination .ant-pagination-total-text {
  margin-right: auto;
  margin-top: -10px !important;
}

.custom-table-container {
  overflow: auto;
  height: calc(100vh - 200px); /* Adjust this value based on your layout */
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888 !important;
  border-radius: 10px !important;
  border: 2px solid #f1f1f1 !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}
